* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: #3B4664;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    max-height: 90vh !important;
}

.output_section {
    max-width: 600px;
    min-width: 30px;
    min-height: 13vh;
    background-color: #181F32;
    color: white;
    border-radius: 10px;
    text-align: right;
    font-size: 9vh;
    width: 100%;
    padding: 8px;
    margin: 20px 0 20px 0;

}

.input_section {
    border-radius: 10px;
    max-width: 600px;
    min-width: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-end: 1fr 1fr;
    background-color: #252D44;
    /* row-gap: 4px;
    column-gap: 4px; */
    gap: 13px;
    padding: 10px;
    color: brown;
    width: 100%;

}

.input_section>div {
    background-color: rgb(242, 234, 234);
    font-size: 9vh;
    color: black;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}

.input_section>div:nth-child(4),
.input_section>div:nth-child(17) {
    background-color: #647299;
}

.input_section>div:nth-child(18) {
    background-color: #D13F30;
}

.input_section>div:hover {
    opacity: .7;
}

.reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

.calculate {
    grid-column-start: 3;
    grid-column-end: 5;
}